.features{
  display: flex;
  .feature{
    display:flex; flex-direction:column; margin:15px;

    &--title{
      font-size:1.3rem; font-weight:bold;
    }
    &--content{
      flex:1; align-self:flex-start; margin-top:0;
    }
    img{width:100%;}
    .btn{
      align-self:center;
    }

  }
}

.not-aligned{
  .feature--content{flex:0;}
}

@media all and (max-width:768px){
  .features{
    .feature:last-child{display:none;}
  }
}

@media all and (max-width:428px){
  .features{
    flex-direction:column;
    .feature{
      &:last-child{display:flex;}
      .btn{align-self:flex-start;}
    }

  }
}


