.flex-direction-block{
  display:flex; margin:0 auto;
  &> div{flex:1; padding:15px;}
  img{max-width:100%;}
}

.flex-direction-page-1{
  .flex-direction-block{
    .right:before{
      content:'flex-direction:row;'; padding-bottom:5px; font-weight:bold;
    }
  }

  @media all and (max-width: 991px) {
    .flex-direction-block{
      max-width:768px;
      flex-direction:column;
      .right{
        &:before{content:'flex-direction:column;'}
      }

    }
  }

  @media all and ( max-width:768px){
    .flex-direction-block {
      flex-direction: column-reverse;
      .right {
        &:before {
          content: 'flex-direction:column-reverse;'
        }
      }
    }
  }
}

.flex-direction-page-2{
  .flex-direction-block{
    .right{order:2;}
    .left{order:1;}
    .right:before{
      content:'order:2'; padding-bottom:5px; font-weight:bold;
    }
  }

  @media all and (max-width: 991px) {
    .flex-direction-block{
      flex-direction: column;
      max-width:768px;
      .right{order:1;}
      .left{order:2;}
      .right{
        &:before{content:'order:1'}
      }

    }
  }

  @media all and ( max-width:768px){
    .flex-direction-block {
      .right{order:2;}
      .left{order:1;}
      .right {
        &:before {
          content: 'order:2'
        }
      }
    }
  }
}

.flex-direction-page-3{
  .left{flex:1}
  .right{flex:2}
  &>div:nth-child(odd){
    flex-direction:row-reverse;
  }

  @media all and (max-width: 991px) {
    &>div:nth-child(odd){
      flex-direction:column;
    }

    .flex-direction-block{
      max-width:768px;
      flex-direction:column;
      .right{flex:1;}

    }
  }

  @media all and ( max-width:768px){
    &>div:nth-child(odd){
      flex-direction:column-reverse;
    }
  }
}

