
.flex-grow {

  main {
    display: flex;
    max-width: 900px;
    height:200px;
    h2{display:inline;}
  }

  aside {
    flex-grow: 1;
    background: #2793C7;

  }

  section {
    flex-grow: 2;
    background: #BE4C39;

  }



  ul{list-style:none;}
}