header, footer {
  height:60px; background:#333; padding:0 8px; position:relative;
}
.logo{
  font-weight:bold; text-decoration:none; color:#eee; height:40px; line-height:50px; padding-right:15px;
  img{height:100%; display:inline-block; margin-right:8px;}
}
nav{
  ul{list-style:none; padding:0; margin:0;}
  a{color:#eee; text-decoration:none; height:60px; display:block; line-height:60px; padding:0 20px;}
}

footer{
  height:60px; justify-content: space-between; color:#eee;
  ul{
    display:flex; list-style:none; padding-left:0;
  }
  li{color:#eee; margin:0 10px; display:block;}
}

.sticky-footer{
  display:flex; min-height:100vh; flex-direction:column;
  .content{
    flex:1;
  }
}

.content{
  display:flex; align-items:center; justify-content: center;
  .images{
    max-width:60%; display:flex; align-items:center; justify-content: center;
    img{width:450px; flex:1; padding:15px;}
  }
}


// Flex box styles

header, footer{
  display:flex; align-items:center;
  .logo{display:flex; align-items: center}
}
nav {
  flex:1;
  ul{
    display:flex; flex-direction:row;
  }
}