header {
  height:60px; background:#333; padding:0 8px; position:relative; margin:0 40px;
}
.logo{
  font-weight:bold; text-decoration:none; color:#eee; height:40px; line-height:50px; padding-right:15px;
  img{height:100%; display:inline-block; margin-right:8px;}
}
nav{
  ul{list-style:none; padding:0; margin:0;}
  a{color:#eee; text-decoration:none; height:60px; display:block; line-height:60px; padding:0 20px;}
}


// Flex box styles

header{
  display:flex; align-items:center;
  .logo{display:flex; align-items: center}
}
nav {
  flex:1;
  ul{
    display:flex; flex-direction:row;
  }
}